    /* scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 7.5px;
        height: 7.5px;
    }
    
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f109; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.685);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.76); 
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


  button:focus {outline:0 !important;}
  input:focus {outline:0 !important;}
  textarea:focus {outline:0 !important;}
  textarea {resize: none !important;}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


  html,body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
      @extend .no-select;
  }

  .gt-w-38{
      width: 8.95rem;
  }

  .cart-items-height{
      height: calc(100vh - 16rem);
  }

  .sidebar-items-height{
    height: calc(100vh - 4rem);
  }

  // .profil-body-width{
  //   width: calc(100vh - 4rem);
  // }

.input-48{
  width: 48%;
}


/** sm  **/
@media (min-width: 640px) {


}

/** md  **/
@media (min-width: 768px) {

}

/** lg **/
@media (min-width: 1024px) {

}

/** xl **/
@media (min-width: 1280px) {
    .gt-w-38{
        width: 9.5rem;
    }
}

/** 2xl **/
@media (min-width: 1536px) {
  
}
