/************************************************** DEFAULT **********************************************/

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.685);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.76); 
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  button:focus {outline:0 !important;}
  input:focus {outline:0 !important;}
  textarea:focus {outline:0 !important;}
  textarea {resize: none !important;}


  html,body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
      @extend .no-select;
  }

  .ii-logo {
	color: #222222;
    transition: 0.75s ease !important;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#88618a62, #88618A, 94%),
		0.005em 0.005em 0 mix(#88618a62, #88618A, 60%),
		0.01em 0.01em 0 mix(#88618a62, #88618A, 62%), 
		0.015em 0.015em mix(#88618a62, #88618A, 64%), 
		0.02em 0.02em 0 mix(#88618a62, #88618A, 66%), 
		0.025em 0.025em 0 mix(#88618a62, #88618A, 68%),
		0.03em 0.03em 0 mix(#88618a62, #88618A, 70%),
		0.035em 0.035em 0 mix(#f79e9e23, #88618A, 72%);
    &:hover{
        color: #3366ff;
    }
}

.ii-present{
  height: fit-content;
  padding-bottom: 4rem;

}

// .gt-bg1{
//   background: linear-gradient(217deg, #EDECEC, rgba(255,0,0,0) 70.71%),
//             linear-gradient(127deg, #E4EAEE, rgba(0,255,0,0) 70.71%),
//             linear-gradient(336deg, #E9EBED, rgba(0,0,255,0) 70.71%);
// }

.gt-bg1{
  background: linear-gradient(217deg, #e0dcdc, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #d5e3eb, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #eef0f1, rgba(0,0,255,0) 70.71%);
}

.gt-bg-type1{
  background: linear-gradient(85deg, #2564eb23, #6b51b428, #6d27d727) !important;
}

.gt-border1 {
  border-style: solid !important;
  border-bottom-width: 2.5px !important;
  border-image: linear-gradient(85deg, #2563eb, #6b51b4, #6c27d7) 1 !important;
}

.mb-minus1{
  margin-bottom: -1px !important;
}

.btn-effect1{
  transition: 0.5s ease;
  &:active{
    transform: scale(0.95);
  }
}

.gt-btn-type1{
  @extend .btn-effect1;
  background: linear-gradient(85deg, #2563eb, #6b51b4, #6c27d7) !important;
  position: relative !important;

  &:hover{
    background: linear-gradient(85deg, #6b51b4, #6c27d7, #2563eb) !important;
  }
}

.gt-text-gradient {
  background: -webkit-linear-gradient(85deg,#2563eb, #6b51b4, #6c27d7) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.gt-hover-text-gradient{
  &:hover{
    background: -webkit-linear-gradient(85deg, #2563eb, #6b51b4, #6c27d7) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
}

.p-image{
  max-height: 5rem;
  max-width: 95%;
  img{
    max-height: 5rem;
    max-width: 100%;
  }
}




/** sm  **/
@media (min-width: 640px) {


}

/** md  **/
@media (min-width: 768px) {

  .casper1{
    display: none;
  }

  .p-image{
    max-height: 10rem;
    max-width: 95%;
    img{
      max-height: 10rem;
    }
  }

}

/** lg **/
@media (min-width: 1024px) {

  .ii-present{
    height: calc(100vh - 5rem);
    padding-bottom: 0px;
  }

}

/** xl **/
@media (min-width: 1280px) {
  
}

/** 2xl **/
@media (min-width: 1536px) {
  
}


