@import url("/fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

/* .gt-bg2 {
  background-color: #1B1B1B;
  background-image: url('../public/images/background/bg1.webp');
  background-size: 12.5%;
  background-repeat: no-repeat;
  background-position: top 45px right 10px;
} */

.gt-bg3 {
  background-color: #1B1B1B;
  background-image: url('../public/images/background/bg1.webp');
  background-size: 55% !important;
  background-repeat: no-repeat;
  background-position: top -425px left -300px !important;
}

.gt-bg4 {
  background-color: #1B1B1B;
  background-image: url('../public/images/background/bg2.webp');
  background-size:cover !important;
  background-repeat: no-repeat;
  background-position: top 0px left 0px !important;
}